<html>
    <head>
        <title> Cluster Form </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      </head>
    
    <body>
        <h1><%= topicHead %></h1>
        <form name="form1" method="POST" action="/student/add">
            <table>
                <tr>
                    <td>Resource Group</td>
                    <td>
                            <select  name="resourceGroups">
                                <optgroup >
                                    <% parameters['resourceGroups'].forEach(function(val){ %>
                                    <option value="<%= val.name %>"><%= val.name %></option>
                                    <% }) %>
                                </optgroup>
                            </select>
                    </td>    
                </tr>       
                <tr>
                    <td>clusterName</td>
                    <td><input type="text" name="clusterName"  ></td>
                    </tr>
            
                <tr>
                    <td>clusterLoginUserName</td>
                    <td><input type="text" name="clusterLoginUserName" value="<%= getDefaultValue('clusterLoginUserName')%>" ></td>
                    </tr>
            
                <tr>
                    <td>clusterLoginPassword</td>
                    <td><input type="password" name="clusterLoginPassword"></td>
                    </tr>
            
                <tr>
                    <td>location</td>
                    <td>
                        <select  name="location" id="locationSelect">
                            <optgroup >
                                <% parameters['resourceGroups'].forEach(function(val){ %>
                                <option value="<%= val.name %>"><%= val.name %></option>
                                <% }) %>
                            </optgroup>
                        </select>
                    </td>
                </tr>
            
                <tr>
                    <td>clusterVersion</td>
                    <td>
                            <select  name="clusterVersion">
                                <optgroup >
                                    <option value="">HDI Cluster version</option>
                                    <% parameters['clusterVersion'].allowedValues.forEach(function(allowedValues){ %>
                                    <option value="<%= allowedValues %>"><%= allowedValues %></option>
                                    <% }) %>
                                </optgroup>
                            </select>
                    </td>    
                </tr>
            
                <tr>
                    <td>clusterKind</td>
                    <td><input type="text" name="clusterKind" value="HADOOP" ></td>
                    </tr>
            
                <tr>
                    <td>sshUserName</td>
                    <td><input type="text" name="sshUserName" value="sshuser" ></td>
                    </tr>
            
                <tr>
                    <td>sshPassword</td>
                    <td><input type="password" name="sshPassword"  ></td>
                    </tr>
            
                <tr>
                    <td>storageAccNewOrExisting</td>
                    <td><input type="radio" name="storageAccNewOrExisting" id="newSaRadio" value="new" checked="checked"> New </td>
                    <td><input type="radio" name="storageAccNewOrExisting" id="existSaRadio" value="existing"> Existing</td>
                </tr>
            
                <tr id="storageAccountName" >
                    <td id="storageAccountNameLabel">storageAccountName</td>
                    <td><input type="text" name="storageAccountName" value="VALIDATE ME" ></td>
                    </tr>
            
                <tr id="storageAccountkind">
                    <td id="storageAccountkindLabel">storageAccountkind</td>
                    <td>
                        <select  name="storageAccountkind">
                            <optgroup >
                                <% parameters['storageAccountkind'].allowedValues.forEach(function(val){ %>
                                <option value="<%= val %>"><%= val %></option>
                                <% }) %>
                            </optgroup>
                        </select>
                    </td>    
                    
                </tr>
            
                <tr  id="storageAccountType">
                    <td id="storageAccountTypeLabel" >storageAccountType</td>
                    <td>
                        <select  name="selectpicker">
                            <optgroup >
                                <% parameters['storageAccountType'].allowedValues.forEach(function(allowedValues){ %>
                                <option value="<%= allowedValues %>"><%= allowedValues %></option>
                                <% }) %>
                            </optgroup>
                        </select>
                    </td>    
                </tr>
            
                <tr>
                    <td>nodeVmSize</td>
                    <td>
                        <select  name="nodeVmSize" id="nodeVmSizeSelect">
                            <optgroup >
                                <% parameters['resourceGroups'].forEach(function(val){ %>
                                <option value="<%= val.name %>"><%= val.name %></option>
                                <% }) %>
                            </optgroup>
                        </select>
                    </td>
                    </tr>
            
                <tr>
                    <td>workerNodeInstanceCount</td>
                    <td><input type="number" name="workerNodeInstanceCount" value="<%= getDefaultValue('workerNodeInstanceCount')%>" ></td>
                    </tr>
            
            <tr>
            <td colspan="2"><input type="submit" value="Save" ></td>
            </tr>
        </table>
        </form>   
    </body>
</html>
<%
function getDefaultValue(key){
    if(parameters[key].defaultValue == 'undefined'){
        return ''
    }
    return (parameters[key].defaultValue)
}
%>


<script>
$(document).ready(function(){

    $("#existSaRadio").on('change', function(e){ 
        $("#storageAccountType").hide();
        $("#storageAccountkind").hide();
        $("#storageAccountName").hide();
        var mydata = {};
        mydata.mykey = "myvalue";

        myresponse = $.ajax({
        type: 'POST',
        url: '/resource-groups-list',
        dataType: 'json',
        data: mydata,
        success: function(result) {
            console.log(result);
            var option = '';
            for (var i=0;i<result.length;i++){
            option += '<option value="'+ result[i].name + '">' + result[i].name + '</option>';
            }
            $("#nodeVmSizeSelect").empty();
            $("#nodeVmSizeSelect").append(option);
        }
      }).responseJSON;

           
      return false;
    });

    $("#newSaRadio").click(function(){
        $("#storageAccountType").show();
        $("#storageAccountkind").show();
        $("#storageAccountName").show();
    });
});
</script>